<div>
    <h1>¡Bienvenido a nuestro portal!</h1>
    <p>Nombre y apellido: {{user.name}}.</p>
    <p>Email: {{user.email}}.</p>
    <p>Edad: {{user.age}} años.</p>
    <p>Tu rol es: {{user.typeUser}}.</p>

    <a href="/api/session/logout"><button>Logout</button></a>
</div>